<% provide(:title, 'Donate') %>
<div class='center hero-unit'>
<h1>About Us</h1>
<div class='founders'>
<h2> Elisabeth Mason </h2>
<img src='http://singlestopusa.org/wp-content/uploads/2012/10/IMG_9103_flat_bw-GM-SEZ-USE-THIS-ONE-150x150.jpg' alt='CEO' />
<h2> CEO and Co-Founder</h2>
</div>

<div class='founders'>
<h2>  Angela Dorn</h2>
<img src='http://singlestopusa.org/wp-content/uploads/2012/10/Angela-Dorn-BW-IMG_1328_bw-150x150.jpg' alt='COO' />
<h2> COO and General Counsel</h2>
</div>


<div class='founders'>
<h2> Nate Falkner </h2>
<img src='http://singlestopusa.org/wp-content/uploads/2012/10/Nate-Falker-BW-IMG_1136_bw-150x150.jpg' alt='Vice President of Strategy & Technologies'/>
<h2>Vice President of Strategy & Technologies </h2>
</div>

<div class='founders'>
<h2> Michael Lumpp </h2>
<img src='http://singlestopusa.org/wp-content/uploads/2012/10/Michael-Lumpp-BW-IMG_1466_bw-150x150.jpg' alt='CTO'/>
<h2> Chief Technology Officer</h2>
</div>
<div style="clear:both;"></div>
<p id="paragraph">Single Stop was launched in 2001 as a New York City-based antipoverty initiative of the Robin Hood Foundation.  By 2006, the program had developed into one of the most effective of its kind, serving more than 70,000 households annually at 59 community-based organizations, food pantries, shelters, health centers and job-training sites throughout the city.  Recognizing the organization.s potential for growth, the Atlantic Philanthropies funded a study, conducted by McKinsey & Co and Single Stop, to determine the viability of replication and expansion.  As a result, Single Stop USA was established in 2007 to expand across the country.  Supported by a founding grant from the Atlantic Philanthropies, the new organization absorbed the New York sites and began the process of expansion, nationwide.  Single Stop USA now operates more than 90 sites in seven states.   In 2011 alone, Single Stop helped 140,659 families access more than $425 million in such benefits and services as health insurance and SNAP, financial, legal and tax preparation services.</p>
</div>
