<% provide(:title, 'Donate') %>
<h1>Donate</h1
<p>
  If you are in a position to help us, please visit the donation page at:
  <a href="http://www.nycharities.org/donate/c_donate.asp?CharityCode=2034">Donate</a>
</p>
>
