<% provide(:title, 'Donate') %>
<div class='center hero-unit'>
<h1>Donate Today!</h1>
<h2>Contribute to our mission to reduce the impact of poverty on individuals and families in the United States by increasing their access to government benefits and critical support services.</h2>
<img src='http://www.singlestopusa.org/wp-content/uploads/2011/11/delgado-260x288.png' alt='at_work' />
<h5>
  If you are in a position to help us, please visit the donation page at:
  <a href="http://www.nycharities.org/donate/c_donate.asp?CharityCode=2034">http://wwww.nycharities.org/donate/c_donate.asp?CharityCode=2034</a>
</h5>
</div>
