<div class="center hero-unit"> 
<h1>Explore</h1>
<div class="left_half">
<h2> Need Additional Help? </h2>
<%= link_to "Make An Appointment", calendar_path, class: "btn btn-large btn-primary" %>
</div>
<div class="right_half">
<p><h2> Pre-screening API</h2></p>
<%= link_to " Apply! ",explore_path , class: "btn btn-medium btn-primary" %>
</div>
<div style="clear:both;"> </div>
</div>

