<div class="center hero-unit">
  <h1>Single Stop Shop!</h1>

  <h2>
   Step inside and discover how <a href="http://www.singlestopusa.org">Single Stop</a> can improve your college experience!
  </h2>

  <img id='content_img' src='http://www.singlestopusa.org/wp-content/themes/ssusa/images/logo-small-2-o.png' alt='logo' />

  <p>Although over 46 million Americans live below the federal poverty line; billions of dollars in government-subsidized benefits go unclaimed every year.  Low-income earners, always concerned about job loss, cant afford time away from work to visit multiple government offices to determine benefits eligibility.  Moreover, many people dont realize that they qualify for assistance.  Some feel overwhelmed by bureaucracy and dont understand the extent of professional, cost-free help available to them.  Others are confused or discouraged by a complicated application process that differs from state to state.  Still others who feel the stigma associated with financial need, are culturally biased against asking for help beyond the family unit, and are wary of government involvement.  Single Stop removes such anxiety by offering an environment of trust and confidence.</p>

  <p>Single Stop works through a range of community-based partnerships to provide screening for, and access to, a wide range of government resources and cost-free legal, financial and tax preparation expertise  all in one location in each of the communities we serve.   Single Stop integrates its program of services locally, in trusted community-based organizations including health clinics, food pantries, job-training centers, and community colleges. In this way, we not only reach those individuals and families most in need, but we ensure that our model becomes both sustainable and scalable.</p>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>
