<div class="center hero-unit">
  <h1>Single Stop Shop!</h1>

  <h2>
   Step inside and discover how <a href="www.singlestopusa.org">Single Stop</a> can improve your college experience! 
  </h2>

  <%= link_to "Sign up now!", singup_path, class: "btn btn-large btn-primary" %>
</div>

