<!DOCTYPE html>
<html>
<head>
  <title>Myspiderweb</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <script type="text/javascript">
    $(function () {
    var currentTime = new Date()
    var month = currentTime.getMonth()
    var day = currentTime.getDate()
    var year = currentTime.getFullYear()

    $("#datepicker").datepicker({
        minDate: new Date(year, month, day),
        dateFormat: 'yy-mm-dd',
        onSelect: function(dateText) {
          $('#hour_picker').show();
          $('#datepicker').hide();
          findHours(dateText);
          $("th.selected_date").append("Date Chosen:" + " " + (dateText));
          pageNo = '2';
        }
        
      });
    }); 

    function nextPage(hour, id){
       $('#hour_picker').hide();
       $("#appointment_form").show();
       document.getElementById('appointments_date').value = setFinalDate;
       document.getElementById('appointments_hour').value = hour;
       $('#cal_previous2').show();
       document.getElementById('subData').style.display = 'block'
       $('#final_date h2').append(setFinalDate);
       $('#final_hour h2').append(id);
       pageNo = '3';
       return true;
    }


  </script>
</head>
<body>

<div id='hour_picker'>
<table border="1">
<tr>
<th class = 'selected_date'></th>
</tr>
<tr class = 'cal_table'>
<td type ="button" onclick = "nextPage('0700', this.id)" class = '0700' id = "7:00 am">7:00 am</td>
</tr>
<tr class = "cal_table2">
<td type ="button" onclick = "nextPage('0800', this.id)" class = '0800' id = "8:00 am">8:00 am</td>
</tr>
<tr class = "cal_table">
<td type ="button" onclick = "nextPage('0900', this.id)" class = '0900' id = "9:00 am">9:00 am</td>
</tr>
<tr class = "cal_table" id = '5'>
<td type ="button" onclick = "nextPage('1100', this.id)" class = '1100' id = "11:00 am">11:00 am</td>
</tr>
<tr class = "cal_table2" id = '6'>
<td type ="button" onclick = "nextPage('1200', this.id)" class = '1200' id = "12:00 pm">12:00 pm</td>
</tr>
<tr class = "cal_table" id = '7'>
<td type ="button" onclick = "nextPage('1300', this.id)" class = '1300' id = "1:00 pm">1:00 pm</td>
</tr>
</table>
</div>
<%= yield %>

</body>
</html>
